<%@ Language=VBScript											%>
<% ' Do not let this page be cached								%>
<%Option Explicit%>
<% Response.AddHeader "Content-type", "text/html"				%>
<% Response.CacheControl = "no-cache"							%>
<% Response.AddHeader "Pragma", "no-cache"						%>
<% Response.Expires = -1										%>
<HTML>
<HEAD>
<Script Language="JavaScript" src="TimeFunct.js">
</SCRIPT>
<Script Language="JavaScript" src="Functions.js">
</SCRIPT>
<Script Language="JavaScript">
function ValidateFields()
{
	//Validates all fields. If they are valid the form frmNewCust is submitted
	var strName, strPassword;
	strName = frmNewCust.txtName.value;
	strPassword = frmNewCust.txtPassword.value;
	strPassword1 = frmNewCust.txtPassword1.value;
	strEmail = frmNewCust.txtEmail.value
	if(strName == ""){
		window.alert("The Name field cannot be blank!");
		frmNewCust.txtName.select();
		return false;
	}
	else if(strPassword == ""){
		window.alert("The Password field cannot be blank!");
		frmNewCust.txtPassword.select();
		return false;
	}
	else if(strPassword1 == ""){
		window.alert("The Confirm Password field cannot be blank!");
		frmNewCust.txtPassword1.select();
		return false;
	}
	else if(strEmail == ""){
		window.alert("The email field cannot be blank!");
		frmNewCust.txtEmail.select();
		return false;
	}
	//Check that the password and confirm password fields are the same
	else if(strPassword != strPassword1){
		window.alert("The Password field and Confirm Password field are not the same!");
		frmNewCust.txtPassword.select();
		return false;
	}
	//Submit the form when everything has been validated
	window.status = "All filds have been validated correctly. Data ready to be submited";
	document.frmNewCust.submit();
	return true;
	
}
function placeFocus(){
	//Places the focus on the name field when document
	//first loads and when fields are cleared
	document.all.txtName.focus();
	//Set the registration date
	document.all.txtDate.value = displayDate()
}
function MainMenu(){
	window.location = "Default.htm";
}
function displayDate(){
	var strDate = new Date();
	var str;
	str = strDate.getDate() + "/";
	str += strDate.getMonth() + "/";
	str += strDate.getFullYear();
	return str
}
</Script>

<BODY BGColor="goldenrod" onLoad="placeFocus();displayDate()">
<H2 Style="BACKGROUND-COLOR: pink"><B>Registering a new customer<B></H2>
<FORM Name="frmNewCust" Action="SaveCustomer.asp" Method="POST">
<HR>
<INPUT Type="button" Name="btnBack" Value="<<-- Main Menu"  onClick="MainMenu()" Accesskey="m">
<INPUT Type="reset" Name="btnReset" Value="Clear details"  Accesskey="c" onClick="placeFocus()">
<INPUT Type="button" Name="btnSubmit" Value="Save Customer" AccessKey="s" onClick="ValidateFields()">
<SPAN Id="lblSaveCustomer" Style="color:blue;font-size:16px">
	
</SPAN>
<HR>
<TABLE>
	<TR>
		<TD><B>Customer Name:</B></TD>
		<TD><INPUT Name="txtName" MaxLength="15" Size="15"
			onKeyDown="return detectEnter(event, document.all.txtPassword)"
			onFocus="document.all.txtName.select()">*</TD>
	</TR>
	<TR>
		<TD><B>Password:</B></TD>
		<TD><INPUT Type="password" Name="txtPassword" MaxLength="8"  Size="8" 
		onFocus="document.all.txtPassword.select()"
		onKeyDown="return detectEnter(event, document.all.txtPassword1)">*</TD>
		<TD><INPUT Type="Hidden" Name="txtDate"></TD>
	</TR>
	<TR>
		<TD><B>Confirm password:</B></TD>
		<TD><INPUT Type="password" Name="txtPassword1" MaxLength="8" Size="8" 
		onFocus="document.all.txtPassword1.select()"
		onKeyDown="return detectEnter(event, document.all.txtHomeAddress)">*</TD>
	</TR>
	<TR>
		<TD><B>Home Address:</B></TD>
		<TD><INPUT Name="txtHomeAddress" MaxLength="50" Size ="50" 
		onFocus="document.all.txtHomeAddress.select()"
		onKeyDown="return detectEnter(event, document.all.txtPickupAddress)"></TD>
	</TR>
	<TR>
		<TD><B>Pickup address:</B></TD>
		<TD><B><INPUT Name="txtPickupAddress" MaxLength="50" Size ="50" 
		onFocus="document.all.txtPickupAddress.select()"
		onKeyDown="return detectEnter(event, document.all.txtHomePhone)"></B></TD>
	</TR>
	<TR>
		<TD><B>Home Phone:</B></TD>
		<TD><INPUT Name="txtHomePhone" MaxLength="12" Size="12" 
		onFocus ="document.all.txtHomePhone.select()"
		onKeyDown="return detectEnter(event, document.all.txtWorkPhone)"></TD>
	</TR>
	<TR>
		<TD><B>Work Phone:</B></TD>
		<TD><INPUT Name="txtWorkPhone" MaxLength="12" Size="12" 
		onFocus ="document.all.txtWorkPhone.select()"
		onKeyDown="return detectEnter(event, document.all.txtMobilePhone)"></TD>
	</TR>
	<TR>
		<TD><B>Mobile Phone:</B></TD>
		<TD><INPUT Name="txtMobilePhone" MaxLength="12" Size="12" 
		onFocus ="document.all.txtMobilePhone.select()"
		onKeyDown="return detectEnter(event, document.all.txtEmail)"></TD>
	</TR>
	<TR>
		<TD><B>Email address:</B></TD>
		<TD><INPUT Name="txtEmail" MaxLength="50" Size="50" 
		onFocus="document.all.txtEmail.select()" 
		onKeyDown="return detectEnter(event, document.all.txtComments)">*</TD>
	</TR>
	<TR>
		<TD><B>Comments:</B></TD>
		<TD><INPUT Name="txtComments" MaxLength="50" Size="50"
		onFocus ="document.all.txtComments.select()"
		onKeyDown="return detectEnter(event, document.all.txtName)"></TD>
	</TR>
</TABLE>
<HR>
</FORM></B></B>
</BODY>
</HTML>  